Header add Content-Security-Policy "default-src 'self' maxcdn.bootstrapcdn.com fonts.gstatic.com; frame-ancestors 'none'; script-src 'self' 'unsafe-inline' ajax.googleapis.com maxcdn.bootstrapcdn.com www.gstatic.com www.google.com oss.maxcdn.com; connect-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com maxcdn.bootstrapcdn.com www.google.com; frame-src 'self' www.google.com; child-src 'self'"
Header add X-FRAME-OPTIONS "DENY"
Options -Indexes