Header add Content-Security-Policy "default-src 'self' maxcdn.bootstrapcdn.com fonts.gstatic.com; script-src 'self' ajax.googleapis.com maxcdn.bootstrapcdn.com www.gstatic.com www.google.com oss.maxcdn.com; connect-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com maxcdn.bootstrapcdn.com www.google.com; frame-src 'self' www.google.com"
Options -Indexes