/* --------------- VARIABLES & FONTS--------------- */


/* ----- FONTS ----- */
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Roboto+Slab');
$logoFont: 'Pacifico', cursive;
$headFont: 'Roboto Slab', serif;
$bodyFont: 'Lato', sans-serif;


/* ----- IMAGES ----- */
$bgimg: url("../img/background.jpg");
$logo: url("../img/logo.png");

/* ----- COLORS ----- */

$primaryColor: #3498db;
$secondaryColor: #e74c3c;
$tertiaryColor: #2ecc71;



