/* --------------- MEMBER STYLING --------------- */

.white-box.member-box {
  color: white;
  padding-bottom: 3%;
  textarea {
    color: black;
  }
  span:nth-child(4){
    text-decoration: underline;
    color: $primaryColor;
    cursor: pointer;
  }
}

